body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

pre {
  border: 1px solid;
  padding: 1rem;
}

h1 {
  border-bottom: 1px solid;
}

img {
  max-width: 50rem;
}
